.worddata__edit {
    display: none;
    justify-content: center;
    align-items: center;
}

.worddata__edit-tfield {
    display: block;
    width: 60%;
    height: 1.25rem;
    margin-right: 10px;
    border-radius: 15px;
    background-color: lightgray;
    text-align: center;
}

.worddata__edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 50%;
    width: 12%;
    height: 100%;
    cursor: pointer;
}

.worddata__edit-icon {
    width: 100%;
    margin: 2%;
}

.active {
    display: flex;
}