.navmenu-item {
    display: flex;
    width: 45px;
    height: 40px;
    border: 1px solid black;
    border-radius: 35px;
    padding: 10px;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center
}

.navmenu-item a {
    font-size: 1.2rem;
    font-weight: 700;
    color: gray;
    text-decoration: none;
}